/* Reset Styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	font: inherit;
}

li {
	list-style-type: none;
}

#root,
#__next {
	isolation: isolate;
}

/* Custom Styling */

button {
	border: none;
}

body {
	background-color: hsl(222, 26%, 15%);
	color: #fff;
}

header {
	display: flex;
}
.list-wrap {
	margin-left: auto;
}
.list {
	display: flex;
	list-style-type: none;
	padding: 50px;
}
.logo {
	padding: 20px;
}
